{% extends 'global/Page.html' %}

{% block title %}
¿Qué es mejor, las Oreo o las Chokis?
{% endblock %}

{% block content %}
<style>
    .custom-button {
        background-color: blue; /* Color de fondo */
        color: white; /* Color del texto */
        border: none; /* Sin bordes */
        padding: 10px 20px; /* Espaciado interno */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px; /* Bordes redondeados */
    }
</style>
<div class="container">
    <h4 class="alert-heading">Respuesta del Miembro 1</h4>
    <div class="alert alert-info" role="alert">
        La respuesta del Miembro 1 a la pregunta sobre las galletas fue: {{ member1_response }}
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</div>
{% endblock %}








